<section class="about u-background-white u-padding-xl">
  <div class="about__shapes" aria-hidden="true">
    {% include "ui/components/shared/shapes/yellow-shapes.html" %}
  </div>
  <div id="back-to-content" aria-hidden="true"></div>
  <div class="about__wrapper u-container">
    <div class="about__text" id="about">
        {% include "ui/components/shared/headings/tagline.html" with title="About Aladdin" tagline="An Irish company proudly supporting Irish primary schools since 2009." description="Every day, Aladdin helps thousands of Irish primary schools run smoothly with our all-in-one platform that takes the stress out of admin, improves communication, and helps schools focus on what really matters — teaching and learning." %}
        <ul class="about__statistics">
            {% include "ui/components/home/about-statistic-item.html" with stat="15+" theme="lightblue-green" text="years serving Irish education" %}
            {% include "ui/components/home/about-statistic-item.html" with stat="2,900+" theme="pink-red" text="schools across Ireland" %}
            {% include "ui/components/home/about-statistic-item.html" with stat="30,000+" theme="yellow-red" text="school staff signing in daily" %}
            {% include "ui/components/home/about-statistic-item.html" with stat="500,000+" theme="lightblue-pink" text="primary school students supported" %}
        </ul>
    </div>
    <div class="about__media">
      <div class="about__graphic">
        <div class="about__image">
          <img src="https://aladdin.ie/files/website/images/star-team-image.webp" loading="lazy" alt="Aladdin team photo" width="530" height="530"/>
        </div>
        <p class="about__caption">No Genies! Just us.<br>Aladdin is built and run by real people. Right here, in Ireland.</p>
        <div class="about__arrow">
          <img src="https://aladdin.ie/files/website/images/arrow-left.webp" loading="lazy" alt="" width="197" height="239" />
        </div>
      </div>
    </div>
  </div>
</section>