<section class="add-ons u-background-white u-padding-xxl">
  <div class="add-ons__shapes add-ons__shapes--left" aria-hidden="true">
    {% include "ui/components/shared/shapes/pink-blue-shapes.html" %}
  </div>
  <div class="add-ons__shapes add-ons__shapes--right" aria-hidden="true">
    {% include "ui/components/shared/shapes/pink-blue-shapes.html" %}
  </div>
  <div class="u-container">
    <div class="add-ons__content">
      <div class="add-ons__heading" id="add-ons">
        {% include "ui/components/shared/headings/underlined.html" with title="Add-ons" align="center" description="Aladdin's add-ons offer targeted solutions for key school needs. Whether you're managing payments, tracking absences or running a school library, extend your platform with tools that work seamlessly with the rest of Aladdin." %}
      </div>
      <div class="card__wrapper">
        {% include "ui/components/shared/card.html" with 
          image="https://aladdin.ie/files/website/images/epay-logo.webp" 
          title="ePayments" 
          description="Collect money for books, fees, tours and more — all within Aladdin. Reduce cash handling and simplify reporting." 
          cta_text="Learn more" 
          theme="epayments" 
          cta_theme="epayments" 
          cta_link="#contact" %}
        {% include "ui/components/shared/card.html" with 
          image="https://aladdin.ie/files/website/images/lib-logo.webp" 
          title="Library" 
          description="Easily manage your school's book collection with lending, tracking and returns all in one place." 
          cta_text="Learn more" 
          theme="library" 
          cta_theme="library" 
          cta_link="#contact" %}
        {% include "ui/components/shared/card.html" with 
          image="https://aladdin.ie/files/website/images/abs-logo.webp" 
          title="Staff Absences" 
          description="Record leave, view patterns, and support school planning with integrated absence tracking." 
          cta_text="Learn more" 
          theme="staff-absences" 
          cta_theme="staff-absences" 
          cta_link="#contact" %}
      </div>
    </div>
  </div>
</section>