<section class="hero">
  <div class="hero__shapes hero__shapes--left" aria-hidden="true">
    <svg class="shapes__oblong shapes__oblong--yellow-red">
      <use href="#oblong-yellow-red"></use>
    </svg>
    <svg class="shapes__oblong shapes__oblong--pink-blue">
      <use href="#oblong-pink-blue"></use>
    </svg>
  </div>
  <div class="hero__shapes hero__shapes--right" aria-hidden="true">
    <svg class="shapes__oblong shapes__oblong--green-blue">
      <use href="#oblong-green-blue"></use>
    </svg>
    <svg class="shapes__oblong shapes__oblong--pink-red">
      <use href="#oblong-pink-red"></use>
    </svg>
  </div>
  <div class="hero__content u-container u-flex-center">
    <h1 class="hero__title hero__title--rainbow-shimmer">The software supporting great schools</h1>
    <ul class="hero__features">
      {% include "ui/components/home/hero-feature-item.html" with icon="chart-up" text="Smarter school administration" %}
      {% include "ui/components/home/hero-feature-item.html" with icon="chats" text="Better parent communication" %}
      {% include "ui/components/home/hero-feature-item.html" with icon="calendar-star" text="Simplified daily management" %}
      {% include "ui/components/home/hero-feature-item.html" with icon="person-arms-raised" text="A complete picture of every student" %}
    </ul>
  </div>
</section>
