.contact {
  .card__title,
  .icon {
    color: var(--color-accent);
    fill: var(--color-accent);
  }

  .card__email .icon,
  .card__phone .icon {
    fill: var(--color-green);
  }

  .card__heading, 
  .card__description {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .card__cta {
    min-width: 100%;
  }
}

.contact__parents {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-top: 4rem;
}

.contact__parents-text {
  flex: 7;
}

.contact__parents-heading {
  color: var(--color-connect);
  font-size: var(--font-size-xlarge);
}

.contact__parents-cta {
  flex: 3;
}

@media (width <= 768px) {
  .contact__parents {
    flex-direction: column;
    align-items: baseline;
  }
  
  .contact__parents-text, 
  .contact__parents-cta {
    flex: 1;
  }
}

