.reveal {
  display: grid;
  grid-template-rows: 1fr 0fr;
  overflow-anchor: none;
}

.reveal__button {
  margin-inline: auto;
  grid-row: 1;
  transition: var(--transition-opacity-normal), visibility 0s linear var(--transition-duration-normal);
  scroll-margin-top: 0;
}

.reveal__button:focus-visible {
  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
}

.reveal__button .icon {
  fill: var(--color-white);
}

.reveal__button .cta__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.reveal__button[aria-expanded="true"] {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.reveal[data-button-hidden="true"] {
  grid-template-rows: 0fr 1fr;
  transition: grid-template-rows var(--transition-duration-slow) var(--transition-timing-ease);
}

.reveal__panel {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows var(--transition-duration-slow) var(--transition-timing-ease);
  grid-row: 2;
  overflow-anchor: none;
  scroll-padding-top: 0;
  scroll-margin-top: 0;
}

.reveal__panel[aria-hidden="false"] {
  grid-template-rows: 1fr;
}

.reveal__panel,
.reveal__panel * {
  overflow: hidden; 
}

.reveal * {
  overflow: hidden;
}

.reveal__list {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.reveal__item {
  display: flex;
  align-items: center;
  gap: .5rem;
}

