<div class="question-cta">
  <div class="question-cta__icon" aria-hidden="true">
    <svg class="icon icon--xlarge" >
      <use href="#cloud-question-mark-duotone"></use>
    </svg>
  </div>
  <h2>Have a Question?</h2>
  <p class="question-cta__description">If you haven't found the answer you're looking for, please get in touch via the email below.</p>
  <div class="question-cta__divider" aria-hidden="true"></div>
  <p class="question-cta__email">
    <svg class="icon icon--small" aria-hidden="true">
      <use href="#email"></use>
    </svg>
    <a class="question-cta__link" href="mailto:parent@aladdin.ie">parent@aladdin.ie</a>
  </p>
</div>