.header__bar {
  background-color: var(--color-background-secondary);
  position: fixed;
  top: 0;
  z-index: 99;
  border-radius: var(--border-radius-pill);
  padding: 0.75rem 2rem;
  width: calc(var(--container-width) - var(--container-padding));
  margin-top: 1rem;
  max-width: calc(100% - var(--container-padding));
  box-shadow: var(--box-shadow-header);
  transition: var(--transition-all-slow);
}

.header__logo {
  max-width: 100%;
}

.header__list {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  flex-direction: column;
}

.header__actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.header__bar-compact {
  display: flex;
  align-items: center;
}

.header__bar-compact .header__cta {
  transition: var(--transition-all-normal);
  visibility: visible;
  opacity: 1;
}

.header__bar .header__cta:hover,
.header__bar .header__link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__link--active {
  color: var(--color-accent);
}

@media (width > 1024px) {
  .header__logo {
    width: 207px;
  }

  .header__bar {
    display: flex;
    justify-content: space-between;
  }

  .header__list {
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
  }

  .header__panel {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .header__nav {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .header__actions {
    flex-direction: row;
    align-items: center;
  }
}
