.heading-underlined .icon {
  fill: var(--color-accent);
}

.heading-underlined__icon {
  margin-bottom: .5rem;
}

.heading-underlined__title {
  text-transform: uppercase;
  font-size: var(  --font-size-xlarge);
  font-weight: var(--font-weight-medium);
}

.heading-underlined__line {
  display: block;
  margin-block: 1rem 2rem;
  width: 50px;
  height: 4px;
  background: var(--color-accent);
  border-radius: var(--border-radius-pill);
}

.heading-underlined--center {
  text-align: center;

  .heading-underlined__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.heading-underlined__list {
  margin-top: .5rem;
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.heading-underlined__list-item {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.heading-underlined:has(.heading-underlined__list, 
.heading-underlined__description) {
  padding-bottom: 3rem;
}
