<div class="card {% if theme %}card--{{ theme }}{% endif %}">
  <div class="card__heading">
    {% if icon %}
      <div class="card__icon u-flex-center" aria-hidden="true">
        <svg class="icon icon--medium"><use href="#{{ icon }}"></use></svg>
      </div>
    {% endif %}
    {% if image %}<div class="card__image-wrapper">
      <img class="card__image" width="56" height="40" loading="lazy" alt="" src="{{ image }}"/>{% endif %}
      <h3 class="card__title">{{ title }}</h3>
    {% if image %}</div>{% endif %}
  </div>
  <p class="card__description">{{ description }}</p>
  <div class="card__divider" aria-hidden="true"></div>
  {% if email %}
  <p class="card__email">
    <svg class="icon icon--small" aria-hidden="true">
      <use href="#email"></use>
    </svg><a href="mailto:{{ email }}">{{ email }}</a></p>{% endif %}
  {% if phone %}
  <p class="card__phone">
    <svg class="icon icon--small" aria-hidden="true">
      <use href="#phone"></use>
    </svg>{{ phone }}</p>{% endif %}
  {% if reveal_text and reveal_bullet1 %}
    <div class="card__reveal">
      {% include "website/components/shared/reveal.html" with id=card_id|default:"card-reveal" theme=theme bullet1=reveal_bullet1 bullet2=reveal_bullet2 bullet3=reveal_bullet3 bullet4=reveal_bullet4 buttonText=reveal_text %}
    </div>
  {% else %}
    <div class="card__cta">
      {% include "website/components/shared/cta.html" with theme=cta_theme link=cta_link text=cta_text %}
    </div>
  {% endif %}
</div>
