<div class="image-gallery">
  <div class="image-gallery__item" style="background-image: url('{{ image1Url }}');"></div>
  <div class="image-gallery__item image-gallery__item--wide" style="background-image: url('{{ image2Url }}');"></div>
  <div class="image-gallery__item image-gallery__item--wide" style="background-image: url('{{ image3Url }}');"></div>
  <div class="image-gallery__item" style="background-image: url('{{ image4Url }}');"></div>
  <div class="image-gallery__item" style="background-image: url('{{ image5Url }}');"></div>
  <div class="image-gallery__item image-gallery__item--wide" style="background-image: url('{{ image6Url }}');"></div>
  <div class="image-gallery__item image-gallery__item--full" style="background-image: url('{{ image7Url }}');"></div>
</div>

