{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}The software supporting great schools | Aladdin Schools{% endblock %}</title>
  <meta name="description" content="{% block metaDescription %}Aladdin Schools is an award winning online Management Information System (MIS) / Student Information System (SIS) designed to simplify administration in Irish primary schools.{% endblock %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Open Graph (Facebook, LinkedIn) -->
  <meta property="og:title" content="Page Title">
  <meta property="og:description" content="Page description">
  <meta property="og:image" content="https://aladdin.ie/files/website/images/og-image.webp">
  <meta property="og:url" content="https://www.aladdin.ie{{ request.path }}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Aladdin Schools">
  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Page Title">
  <meta name="twitter:description" content="Page description">
  <meta name="twitter:image" content="https://aladdin.ie/files/website/images/twitter-image.webp">

  <link rel="shortcut icon" href="https://www.aladdin.ie/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block pageStyles %}{% endblock %} 
</head>
<body class="{% block pageclass %}{% endblock %}" data-mobile-menu-open="false">
  <div id="back-to-top" class="u-anchor-link" tabindex="-1"></div>
  <div class="svg-sprite" aria-hidden="true">{% include "components/base/sprite.svg" %}</div>
  
  {% include "components/base/header.html" %}

  <div id="skip-link" class="u-anchor-link" tabindex="-1"></div>
  <main>
    {% block content %}{% endblock %}
  </main>

  <a class="back-to-top u-flex-center" href="#back-to-top">  
    <svg class="icon icon--medium" aria-hidden="true"><use href="#chevron-down-solid"></use></svg>
    <span class="visually-hidden">Go to content</span>
  </a>

  {% include "components/base/footer.html" %}
  <script type="module" src="{% static 'js/script.js' %}"></script>
  {% block pageScripts %}{% endblock %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Aladdin Schools",
      "url" : "https://www.aladdin.ie",
      "description": "Aladdin Schools is an award winning online Management Information System (MIS) / Student Information System (SIS) designed to simplify administration in Irish primary schools.",
      "contactPoint" : [
        { "@type" : "ContactPoint",
          "telephone" : "+353-1-554-7375",
          "contactType" : "sales",
         "areaServed": "IE"
       },{
          "@type": "ContactPoint",
          "telephone": "+353-1-254-2277",
          "contactType": "technical support",
         "areaServed": "IE"
        }]
    }
    </script>
</body>
</html>
