.accordions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.accordion {
  font-size: var(--font-size-small);
  background: var(--color-background-secondary);
  border-radius: var(--border-radius-medium);
}

.accordion__panel {
  display: grid;
  grid-template-rows: 1fr;
  transition: var(--transition-grid-normal);
}

.accordion__panel[aria-hidden="true"] {
  grid-template-rows: 0fr;
  transition: var(--transition-grid-normal);
}

.accordion__panel, .accordion__panel * {
  overflow: hidden;
}

.accordion__title {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
}

.accordion__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 100%;
  padding: 1rem;
}

.accordion__paragraph {
  padding-bottom: 1rem;
  padding-inline: 1rem;
}

.accordion__button[aria-expanded="true"] {
  color: var(--color-accent);

  .icon {
    fill: var(--color-accent);
  }
}

.accordion__button[aria-expanded="false"] .icon--chevron-down {
  transform: rotate(-90deg);
}

@media (width >= 768px) {
  [data-accordions-mobile-only] .accordion__icon {
    display: none;
  }
  
  [data-accordions-mobile-only] .accordion__button {
    pointer-events: none;
  }
}