.card__wrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  z-index: 1;
  background: var(--color-background-secondary);
  box-shadow: var(--box-shadow-card);
  border-radius: var(--border-radius-card);
  padding: 2rem;
  width: 100%;
}

.card__image-wrapper {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.card__image {
  width: 3.5rem;
  height: auto;
}

.card__divider {
  border-top: var(--divider);
  width: 85%;
  margin-block: 1rem;
  margin-inline: auto;
}

.card__title {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xlarge);
} 

.card__icon {
  background: var(--color-icon-background);
  width: 60px;
  height: 60px;
  border-radius: var(--border-radius-circle);
}

.card__cta {
  align-self: center;
  min-width: 80%;
  margin-top: auto;
}

.card__email {
  color: var(--color-accent);
  text-decoration: underline;
}

.card__email,
.card__phone {
  font-size: var(--font-size-small);
  display: flex;
  gap: .25rem;
}
