.tabs__panels {
  width: 100%;
}

.tabs__panel[aria-hidden="true"] {
  display: none;
}

.tabs__tab[aria-selected="true"] {
  transition: background-color 0.5s ease;
}

.tabs__tab[aria-selected="false"]:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}