<div class="hero__star" aria-hidden="true">
  <svg class="hero__star-oblong hero__star-oblong--1" viewBox="0 0 258 518" preserveAspectRatio="xMidYMid meet">
    <use href="#star-stroke-yellow-red"></use>
  </svg>
  <svg class="hero__star-oblong hero__star-oblong--2" viewBox="0 0 465 364" preserveAspectRatio="xMidYMid meet">
    <use href="#star-stroke-pink-red"></use>
  </svg>
  <svg class="hero__star-oblong hero__star-oblong--3" viewBox="0 0 465 364" preserveAspectRatio="xMidYMid meet">
      <use href="#star-stroke-green-blue"></use>
    </svg>
  <svg class="hero__star-oblong hero__star-oblong--4" viewBox="0 0 540 127" preserveAspectRatio="xMidYMid meet">
    <use href="#star-stroke-pink-blue"></use>
  </svg>
  <svg class="hero__star-oblong hero__star-oblong--5" viewBox="0 0 258 518" preserveAspectRatio="xMidYMid meet">
    <use href="#star-stroke-yellow-green"></use>
  </svg>
</div>

