<section class="hero">
  {% include "components/home/hero-star.html" %}
  <div class="hero__content u-container u-flex-center">
    <h1 class="hero__title hero__title--rainbow-shimmer">The software supporting great schools</h1>
  
    <ul class="hero__features">
      {% include "components/home/hero-feature-item.html" with icon="chart-up" text="Smarter school administration" %}
      {% include "components/home/hero-feature-item.html" with icon="chats" text="Better parent communication" %}
      {% include "components/home/hero-feature-item.html" with icon="calendar-star" text="Simplified daily management" %}
      {% include "components/home/hero-feature-item.html" with icon="person-arms-raised" text="A complete picture of every student" %}
    </ul>
  </div>
</section>

