<section class="getting-started">
  {% include "ui/components/shared/headings/tagline.html" with
    title="Getting Started with Aladdin Connect"
    description="Your school will provide everything you need to get started. Just follow the steps below to create your account and start using Aladdin Connect."
  %}
  {% include "ui/components/shared/headings/underlined.html" with
    title="Read the Information Letter"
    description="Before Aladdin Connect is launched, your school will send you a letter explaining what the service is and how it works.<br> This is your opportunity to update any contact details or talk through family situations with your school — including situations involving stepparents, blended families, or legal arrangements. If needed, your school can disable features like family sharing to restrict access."
  %}
  {% include "ui/components/shared/headings/underlined.html" with
    title="Receive Your Unique Registration Link"
    description="After the letter, you'll receive a text or email with your own registration link.<br>Each parent or guardian receives a separate link that connects to their personal account. These links are unique and cannot be shared with other parents, even within the same family or school."
  %}
  {% include "ui/components/shared/headings/underlined.html" with
    title="Register and Set Your Password"
    description="Click the link in your message to begin registration.<br>You'll create a password during setup, which — along with your email — will be used to securely access Aladdin Connect."
  %}
  {% include "ui/components/shared/headings/underlined.html" with
    title="Download the App"
    description="Once you've registered, you'll receive an email with links to download the Aladdin Connect app. <br>While optional, the app makes it easier to receive instant message alerts from your school. To enable notifications, you'll need to verify your mobile phone number."
  %}
  {% include "ui/components/shared/headings/underlined.html" with
    title="Important to Know"
  %}
</section>