<section class="sidebar__card" data-accordions data-accordions-mobile-only>
  <button class="sidebar__card-button accordion__button" type="button" aria-expanded="false" aria-controls="further-faqs-region" id="further-faqs-button" class="accordion__button">
    <h2 class="sidebar__card-heading">Further FAQs</h2>
    <svg class="accordion__icon icon icon--small icon--chevron-down" aria-hidden="true">
      <use href="#chevron-down"></use>
    </svg>
  </button>
  <div class="sidebar__card-content accordion__panel" id="further-faqs-region" role="region" aria-labelledby="further-faqs-button" aria-hidden="true">
    <ul class="sidebar__card-list">
      <li class="sidebar__card-list-item"><a href=""><svg class="icon icon--small"><use href="#arrow-up-right-from-square"></use></svg>About Aladdin</a></li>
      <li class="sidebar__card-list-item"><a href=""><svg class="icon icon--small"><use href="#arrow-up-right-from-square"></use></svg>Registering for Connect</a></li>
      <li class="sidebar__card-list-item"><a href=""><svg class="icon icon--small"><use href="#arrow-up-right-from-square"></use></svg>Installing & Using the App</a></li>
      <li class="sidebar__card-list-item"><a href=""><svg class="icon icon--small"><use href="#arrow-up-right-from-square"></use></svg>Receiving Notifications</a></li>
      <li class="sidebar__card-list-item"><a href=""><svg class="icon icon--small"><use href="#arrow-up-right-from-square"></use></svg>Attendance & Notes</a></li>
      <li class="sidebar__card-list-item"><a href=""><svg class="icon icon--small"><use href="#arrow-up-right-from-square"></use></svg>Homework in Connect</a></li>
      <li class="sidebar__card-list-item"><a href=""><svg class="icon icon--small"><use href="#arrow-up-right-from-square"></use></svg>Resetting Your Password</a></li>
    </ul>
  </div>
</section>

<section class="sidebar__card" data-accordions data-accordions-mobile-only>
  <button class="sidebar__card-button accordion__button" type="button" aria-expanded="false" aria-controls="helpful-downloads-region" id="helpful-downloads-button" class="accordion__button">
    <h2 class="sidebar__card-heading">Helpful Downloads</h2>
    <svg class="accordion__icon icon icon--small icon--chevron-down" aria-hidden="true">
      <use href="#chevron-down"></use>
    </svg>
  </button>
  <div class="sidebar__card-content accordion__panel" id="helpful-downloads-region" role="region" aria-labelledby="helpful-downloads-button" aria-hidden="true">
    <ul class="sidebar__card-list">
      <li class="sidebar__card-list-item"><a href=""><svg class="icon icon--small"><use href="#file-pdf"></use></svg>Registering for Connect</a></li>
      <li class="sidebar__card-list-item"><a href=""><svg class="icon icon--small"><use href="#file-pdf"></use></svg>Downloading the App</a></li>
      <li class="sidebar__card-list-item"><a href=""><svg class="icon icon--small"><use href="#file-pdf"></use></svg>Using the App</a></li>
      <li class="sidebar__card-list-item"><a href=""><svg class="icon icon--small"><use href="#file-pdf"></use></svg>Reset Your Password</a></li>
      <li class="sidebar__card-list-item"><a href=""><svg class="icon icon--small"><use href="#file-pdf"></use></svg>Notification Troubleshooting</a></li>
      <li class="sidebar__card-list-item"><a href=""><svg class="icon icon--small"><use href="#file-pdf"></use></svg>Adding Additional Accounts</a></li>
      <li class="sidebar__card-list-item"><a href=""><svg class="icon icon--small"><use href="#file-pdf"></use></svg>Parent/Teacher Meetings</a></li>
      <li class="sidebar__card-list-item"><a href=""><svg class="icon icon--small"><use href="#file-pdf"></use></svg>Using Permissions</a></li>
      <li class="sidebar__card-list-item"><a href=""><svg class="icon icon--small"><use href="#file-pdf"></use></svg>Homework</a></li>
    </ul>
  </div>
</section>
 
