.heading-tagline {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heading-tagline__title {
  text-transform: uppercase;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  color: var(--color-accent);
}

.heading-tagline__tagline {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-medium);
}