.heading-underlined {
  padding-bottom: 3rem;
}

.heading-underlined__title {
  text-transform: uppercase;
  font-size: var(  --font-size-xlarge);
  font-weight: var(--font-weight-medium);
}

.heading-underlined__line {
  display: block;
  margin-block: 1rem 2rem;
  width: 50px;
  height: 4px;
  background: var(--color-accent);
  border-radius: var(--border-radius-pill);
}

.heading-underlined--center {
  text-align: center;
}

.heading-underlined--center .heading-underlined__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}