<div class="hero__star" aria-hidden="true">
  <svg class="hero__star-stroke hero__star-stroke--yellow-red">
    <use href="#hero-star-stroke-yellow-red"></use>
  </svg>
  <svg class="hero__star-stroke hero__star-stroke--pink-red">
    <use href="#hero-star-stroke-pink-red"></use>
  </svg>
  <svg class="hero__star-stroke hero__star-stroke--green-blue">
      <use href="#hero-star-stroke-green-blue"></use>
    </svg>
  <svg class="hero__star-stroke hero__star-stroke--pink-blue">
    <use href="#hero-star-stroke-pink-blue"></use>
  </svg>
  <svg class="hero__star-stroke hero__star-stroke--yellow-green">
    <use href="#hero-star-stroke-yellow-green"></use>
  </svg>
</div>

