.hero__shapes--left,
.hero__shapes--right {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}

.hero__shapes--left {
  left: 0;
  top: 2%;
}

.hero__shapes--right {
  right: 0;
  top: 0;
}

.hero__shapes--left .shapes__oblong--yellow-red {
  transform: rotate(137.64deg);
  left: 2%;
  top: -23%;
  animation: yellow-red-move-vertical 6s ease-in-out infinite;
  animation-delay: 0s;
}

.hero__shapes--left .shapes__oblong--pink-blue {
  transform: rotate(90deg);
  left: 2%;
  top: -32.5%;
  animation: pink-blue-move-horizontal 6s ease-in-out infinite;
  animation-delay: 3s;
}

.hero__shapes--right .shapes__oblong--green-blue {
  transform: rotate(49.66deg);
  right: 4%;
  top: -11%;
  animation: blue-green-move-vertical 6s ease-in-out infinite;
}

.hero__shapes--right .shapes__oblong--pink-red {
  right: 5%;
  top: -32%;
  animation: pink-red-move-vertical 6s ease-in-out infinite;
  animation-delay: 0.15s;
}

@keyframes yellow-red-move-vertical {
  0%, 100% {
    top: -23%;
  }

  50% {
    top: -27%;
  }
}

@keyframes pink-blue-move-horizontal {
  0%, 100% {
    left: 2%;
  }

  50% {
    left: -1%;
  }
}

@keyframes pink-red-move-vertical {
  0%, 100% {
    top: -32%;
  }

  50% {
    top: -27%;
  }
}

@keyframes blue-green-move-vertical {
  0%, 100% {
    top: -17%;
  }

  50% {
    top: -22%;
  }
}

@keyframes yellow-red-move-vertical-mobile {
  0%, 100% {
    top: 7rem;
  }

  50% {
    top: 6rem;
  }
}

@keyframes pink-red-move-vertical-mobile {
  0%, 100% {
    bottom: 1.5rem;
  }

  50% {
    bottom: 3rem;
  }
}

@keyframes blue-green-move-horizontal-mobile {
  0%, 100% {
    right: 3%;
  }

  50% {
    right: 2%;
  }
}

.hero .shapes__oblong {
  opacity: 0.75;
  z-index: -1;
}

@media (768px <= width <= 1240px) {
  .hero__shapes--left {
    top: 38%;
    transform: translateY(calc(-30% - var(--header-height)));
  }
} 

@media (width >= 1750px) {
  .hero__shapes--left {
    top: 30%;
    transform: translateY(calc(-30% - var(--header-height)));
  }
} 


@media (width <= 768px) {
  .hero__shapes--left {
    top: 0;
  }

  .hero__shapes--left .shapes__oblong--pink-blue {
    top: 2rem;
    animation: pink-blue-move-horizontal 6s ease-in-out infinite;
    animation-delay: 3s;
  }

  .hero__shapes--left .shapes__oblong--yellow-red {
    transform: rotate(147.64deg);
    animation: yellow-red-move-vertical-mobile 6s ease-in-out infinite;
    animation-delay: 0s;
    left: -4%;
  }

  .hero__shapes--right .shapes__oblong--green-blue {
    bottom: -8rem;
    top: auto;
    right: 4%;
    animation: blue-green-move-horizontal-mobile 6s ease-in-out infinite;
    animation-delay: 0.15s;
  }

  .hero__shapes--right .shapes__oblong--pink-red {
    bottom: 2rem;
    top: auto;
    animation: pink-red-move-vertical-mobile 6s ease-in-out infinite;
    animation-delay: 0.15s;
  }
}

@media (width < 375px) {
  .hero__shapes {
    display: none;
  }
}

/* Disable animations for users who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  .hero__shapes--left .shapes__oblong--yellow-red,
  .hero__shapes--left .shapes__oblong--pink-blue,
  .hero__shapes--right .shapes__oblong--green-blue,
  .hero__shapes--right .shapes__oblong--pink-red {
    animation: none;
  }

  @media (width <= 768px) {
    .hero__shapes--left .shapes__oblong--pink-blue,
    .hero__shapes--left .shapes__oblong--yellow-red,
    .hero__shapes--right .shapes__oblong--green-blue,
    .hero__shapes--right .shapes__oblong--pink-red {
      animation: none;
    }
  }
}

