.hero {
  position: relative;
  overflow: visible;
}

@media (width < 768px) {
  .hero {
    overflow: hidden;
  }
}

.hero__content {
  height: 75%;
}

.hero__features {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.hero__feature {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero__icon {
  min-width: 4rem;
  height: 4rem;
  border-radius: var(--border-radius-circle);
  background: var(--color-background-tertiary);
}

@media (width <= 1024px) {
  .hero__feature {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@media (width > 1024px) {
  .hero {
    height: calc(87.5dvh - var(--header-height));
  }
}

@media (768px <= width <= 1302px) {
  .hero__title {
    max-width: 50vw;
  }
}

@media (width >= 1750px) {
  .hero__title {
    max-width: none;
  }
}

@media (width <= 768px) { 
  .hero__features {
    flex-direction: column;
    gap: 2rem;
  }

  .hero__content {
    gap: 6rem;
  }

  .hero__text {
    max-width: 10rem;
  }
}

@media (width < 375px) {
  .hero__content {
    gap: 2.5rem;
  }
}