.emails {
  font-size: var(--font-size-small);
  mask-image: linear-gradient(to bottom, black, black 80%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, black, black 80%, transparent);
  overflow: hidden;
}

.email__item:first-child .email__icon {
  position: relative;
}

.email__item:first-child {
  padding: 0.5rem 0;
}

.email__item:not(:first-child) {
  background: rgb(133 169 174 / 10%);
}

.email__item:first-child .email__subject {
  font-weight: var(--font-weight-bold);
}

.email__item:first-child .email__icon::after {
  position: absolute;
  content: '1';
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xxsmall);
  width: 1rem;
  height: 1rem;
  top: 0;
  right: 0;
  color: var(--color-font-secondary);
  background: var(--color-red);
  border-radius: var(--border-radius-circle);
}

.email__icon .icon {
  color: var(--color-accent-dark);
}

.email__date {
  color: var(--color-font-muted);
  text-align: right;
  text-wrap-mode: nowrap;
  margin-left: auto;
}

.email__item {
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.email__item--bounce-in {
  display: block;
  opacity: 1;
  transform: translateY(0);
  animation: email-bounce-in 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes email-bounce-in {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  60% {
    transform: translateY(3px);
    opacity: 1;
  }

  80% {
    transform: translateY(-1px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.email__item .email__desktop {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}

.email__mobile .email__content {
  padding: 1rem;
  border-top: var(--divider);
}

@media (width >= 1024px) {
  .emails {
    background: var(--color-background-secondary);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow-large);
  }

  .email__item:not(:last-child) {
    border-bottom: var(--divider);
  }

  .email__item:nth-child(n+6) {
    display: none;
  }
}

@media (width <= 1024px) {
  .email__item .email__desktop {
    padding-bottom: .25rem;
  }

  .email__item {
    background: var(--color-background-secondary);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow-medium);
    margin: 1rem;
  }

  .email__item:nth-child(n+4) {
    display: none;
  }
}
