.packages__tabs {
  position: relative;
}

.packages {
  background: var(--color-background-secondary);

  .tabs__list {
    text-align: center;
    position: absolute;
    display: flex;
    gap: 0.5rem;
    top: 2rem;
    background: var(--color-background-secondary);
    padding: 0.5rem;
    border-radius: var(--border-radius-pill);
    font-size: var(--font-size-large);
    box-shadow: var(--box-shadow-inset);
  }

  .tabs__tab {
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius-pill);
  }

  .tabs__panel {
    padding-top: 10rem;
    padding-bottom: 5rem;
    color: var(--color-font-secondary);
  }

  .tabs__panel .icon {
    fill: var(--color-accent);
  }

  .tabs__tab[aria-selected="true"] {
    color: var(--color-font-secondary);
    font-weight: var(--font-weight-medium);
  }

  .tabs__tab--start[aria-selected="true"] {
    background: var(--color-start-gradient-two-tone);
  }

  .tabs__tab--connect[aria-selected="true"] {
    background: var(--color-connect-gradient-two-tone);
  }

  .tabs__tab--frame[aria-selected="true"] {
    background: var(--color-frame-gradient-two-tone);
  }

  .tabs__panel--start {
    --color-accent: var(--color-start-light);

    background: var(--color-start-gradient-four-tone);
  }

  .tabs__panel--connect {
    --color-accent: var(--color-connect-light);

    background: var(--color-connect-gradient-four-tone);
  }

  .tabs__panel--frame {
    --color-accent: var(--color-frame-light);

    background: var(--color-frame-gradient-four-tone);
  }
}

.packages__tab-content {
  --container-width: 950px;
  
  display: flex; 
  align-items: center;
  gap: 1rem;
}

.packages__tab-content-text {
  flex: 5;
}

.packages__tab-content-media {
  flex: 4;
  display: flex;
  justify-content: end;
} 

.packages__tabs {
  .heading-underlined {
    padding-bottom: 0;
  }

  .heading-underlined__title {
    text-transform: initial;
  }
}

.packages__tab-content-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.packages__tab-content-feature {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.packages__tab-content .cta {
  max-width: 200px;
}

@media (width <= 768px) {
  .packages__tab-content { 
    flex-direction: column; 
  }

  .packages__tab-content-text {
    order: 2;
  }

  .packages__tab-content-media {
    order: 1;
    max-width: 150px;
  }
}