.parents-tabs {
  --color-accent: var(--color-connect);
}

.parents-tabs__wrapper {
  display: flex;
  gap: 1rem;
}

.benefits-families, 
.getting-started {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

@media (width <= 1024px) {
  .benefits-families, 
  .getting-started {
    grid-template-columns: 1fr;
  }
}

@media (width <= 768px) {
  .parents-tabs__wrapper {
    flex-direction: column;
  }
}

