{% extends "base.html" %}
{% load static %}
{% block title %}Hero Star Testing | Aladdin Schools{% endblock %}
{% block metaDescription %}Testing page for hero star animation{% endblock %}
{% block pageStyles %}
  <link rel="stylesheet" href="{% static 'css/pages/home/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/pages/home/hero-star.css' %}">
{% endblock %}

{% block content %}
  {% include "components/home/hero-testing.html" %}
  {% include "components/home/about.html" %}
  {% include "components/home/packages.html" %}
  {% include "components/home/add-ons.html" %}
  {% include "components/home/inbox.html" %}
  {% include "components/home/faqs.html" %}
  {% include "components/home/contact.html" %}
{% endblock %}

