{% extends "base.html" %}
{% load static %}
{% block title %}Get Setup with Aladdin | Aladdin Schools{% endblock %}
{% block metaDescription %}Page description goes here. Keep it between 150-160 characters for optimal SEO.{% endblock %}
{% block pageStyles %}
  {# If extra styles needed, include in a stylesheet linked here #}
{% endblock %}

{% block content %}
  {% include "components/shared/hero.html" with theme="green-blue" title="Get Setup with Aladdin" %}
  <section class="u-background-white u-padding-lg">
    <div class="u-container">
      {% include "components/shared/headings/underlined.html" with 
        icon="rocket-launch"
        title="Have a setup code?" align="center" %}

      <form action="/signup" method="get" class="u-flex-center">
        <label for="id_access_code">
          Enter it here and click go:
        </label>
        <input type="text" id="id_access_code" size="15" name="code" aria-required="true">
        <button class="cta cta--start" type="submit" id="btnSubmit">
          <span class="cta__inner">Go</span>
        </button>
      </form>
    </div>
  </section>
{% endblock %}

