{% load tz %}

<footer class="footer u-container">
  <div class="footer__wrapper">
    <section class="footer__contact">
      <div class="footer__logo">
        <a href="/index.html">
          <img src="https://aladdin.ie/files/website/images/logo-long.webp" loading="lazy" width="200" height="50" alt="Aladdin Schools logo"/>
        </a>
      </div>
      <address class="footer__address">
        <div class="footer__address-lines">
          <a
            class="footer__address-link"
            href="https://www.google.com/maps/place/Aladdin+Schools/@53.2790472,-6.1642779,17z/data=!3m1!4b1!4m6!3m5!1s0x48670885d7d65099:0x876ae37529fd0390!8m2!3d53.279044!4d-6.161703!16s%2Fg%2F1tdz8vl1?entry=ttu&g_ep=EgoyMDI2MDExMy4wIKXMDSoKLDEwMDc5MjA2OUgBUAM%3D"
            target="_blank"
            rel="noopener noreferrer"
          >
            <p class="footer__address-line1">Block 1</p>
            <p class="footer__address-line2">Deansgrange Business Park</p>
            <p class="footer__address-line3">Co Dublin, Ireland</p>
          </a>
        </div>
        <div class="footer__address-contact">
          <p class="footer__phone u-font-weight-medium">Phone: <a href="tel:+35315547375">(01) 554-7375</a></p>
          <p class="footer__email u-font-weight-medium">Email: <a href="mailto:info@aladdin.ie">info@aladdin.ie</a></p>
        </div>
      </address>  
    </section>

    <nav class="footer__nav">
      <section>
        <h2 class="footer__nav-heading">Product</h2>
        <ul class="footer__nav-list">
          <li class="footer__nav-list-item"><a href="/index.html#packages">Packages</a></li>
          <li class="footer__nav-list-item"><a href="/index.html#add-ons">Add-ons</a></li>
          <li class="footer__nav-list-item"><a href="/parents.html">Parents</a></li>
          <li class="footer__nav-list-item footer__nav-list-item--cta"><a href="/signin.html">Sign In</a></li>
        </ul>
      </section>
      <section>
        <h2 class="footer__nav-heading"> Company</h2>
        <ul class="footer__nav-list">
          <li class="footer__nav-list-item"><a href="/index.html#about">About Us</a></li>
          <li class="footer__nav-list-item"><a href="/careers.html">Careers</a></li>
          <li class="footer__nav-list-item footer__nav-list-item--cta"><a href="/index.html#contact">Get in Touch</a></li>
          <li class="footer__nav-list-item footer__nav-list-item--cta"><a href="/ordernow.html">Get Started</a></li>
        </ul>
      </section>
      <section>
        <h2 class="footer__nav-heading">Useful Links</h2>
        <ul class="footer__nav-list">
          <li class="footer__nav-list-item"><a href="https://aladdin.ie/files/pdf/GDPR-Press.pdf" target="_blank">GDPR</a></li>
          <li class="footer__nav-list-item"><a href="/content/privacy" target="_blank">Privacy</a></li>
          <li class="footer__nav-list-item"><a href="/content/terms" target="_blank">Terms</a></li>
          <li class="footer__nav-list-item"><a href="/cookies.html">Cookies</a></li>
          <li class="footer__nav-list-item"><a href="/dsa-point-of-contact.html">Digital Services Act</a></li>
          <li class="footer__nav-list-item"><a href="/accessibility.html">Accessibility</a></li>
        </ul>
      </section>
    </nav>
  </div>
  <section class="footer__social">
    <ul class="footer__social-list">
      <li>
        <a class="footer__social-button u-flex-center" target="_blank" href="https://www.facebook.com/AladdinSchools/">
          <svg class="icon icon--small" aria-hidden="true">
            <use href="#facebook"></use>     
          </svg>
          <span class="visually-hidden">Facebook</span>
        </a>
      </li>
      <li>
        <a class="footer__social-button u-flex-center" target="_blank" href="https://x.com/AladdinSchools">
          <svg class="icon icon--small" aria-hidden="true">
            <use href="#x"></use>     
          </svg>
          <span class="visually-hidden">X</span>
        </a>
      </li>
      <li>
        <a class="footer__social-button u-flex-center" target="_blank" href="https://www.instagram.com/aladdinschools">
          <svg class="icon icon--small" aria-hidden="true">
            <use href="#instagram"></use>     
          </svg>
          <span class="visually-hidden">Instagram</span>
        </a>
      </li>
    </ul>
  </section>
  <section class="footer__copyright">
    <p class="footer__copyright-text">© Copyright<span class="u-font-weight-medium"> Aladdin Schools</span> {% now "Y" %}</p>
  </section>
</footer>
  