<header class="header u-container">
  <a class="skip-link header__cta header__cta--primary" href="#skip-link">Skip to content</a>
  <nav class="header__bar">
    <div class="header__bar-compact">
      <div class="header__logo">
        <a href="/">
          <img src="https://aladdin.ie/files/website/images/logo-long.webp" fetchpriority="high" decoding="async" width="200" height="50" alt="Aladdin Schools logo"/>
        </a>
      </div>
      <a class="header__cta header__cta--primary u-mobile-tablet-only" href="/signin">Sign In</a>
      <div class="hamburger__wrapper u-mobile-tablet-only">
        <button class="hamburger" aria-expanded="false" aria-controls="mobile-menu">
          <span class="visually-hidden">Menu</span>
          <span class="hamburger__line" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <div class="header__panel" id="mobile-menu">
      <div class="header__nav">
        <ul class="header__list">
          <li><a href="/" class="header__link">Home</a></li>
          <li><a href="/#about" class="header__link">About</a></li>
          <li data-submenu>
            <button class="header__link header__link--toggle" aria-expanded="false" aria-controls="products-submenu">
              <span>Products</span>
              <span class="visually-hidden">Toggle Products Menu open/closed</span> 
              <svg class="icon icon--small icon--chevron-down" aria-hidden="true">
                <use href="#chevron-down"></use>     
              </svg>
            </button>
            <div class="header__submenu" aria-hidden="true" id="products-submenu">
              <ul class="header__submenu-list">
                <li class="header__submenu-list-item"><a href="/#packages" class="header__link">Packages</a></li>
                <li class="header__submenu-list-item"><a href="/#add-ons" class="header__link">Add-ons</a></li>
              </ul>
            </div>
          </li>
          <li><a href="/#faqs" class="header__link">FAQs</a></li>
          <li><a href="/parents" class="header__link">Parents</a></li>
        </ul>
        <div class="header__actions">
          <a class="header__cta header__cta--secondary" href="/#contact">Get in Touch</a>
          <a class="header__cta header__cta--primary" href="/signin">Sign In</a>
        </div>
      </div>
    </div>  
  </nav>
</header>