<section class="sidebar__card" data-accordions data-accordions-mobile-only>
  <button type="button" aria-expanded="true" aria-controls="further-faqs-region" id="further-faqs-button">
    <h2>Further FAQs</h2>
  </button>
  <div id="further-faqs-region" role="region" aria-labelledby="further-faqs-button" aria-hidden="false">
    <ul>
      <li><a href=""><svg class="icon icon--small"><use href="#arrow-up-right-from-square"></use></svg>About Aladdin</a></li>
      <li><a href=""><svg class="icon icon--small"><use href="#arrow-up-right-from-square"></use></svg>Registering for Connect</a></li>
      <li><a href=""><svg class="icon icon--small"><use href="#arrow-up-right-from-square"></use></svg>Installing & Using the App</a></li>
      <li><a href=""><svg class="icon icon--small"><use href="#arrow-up-right-from-square"></use></svg>Receiving Notifications</a></li>
      <li><a href=""><svg class="icon icon--small"><use href="#arrow-up-right-from-square"></use></svg>Attendance & Notes</a></li>
      <li><a href=""><svg class="icon icon--small"><use href="#arrow-up-right-from-square"></use></svg>Homework in Connect</a></li>
      <li><a href=""><svg class="icon icon--small"><use href="#arrow-up-right-from-square"></use></svg>Resetting Your Password</a></li>
    </ul>
  </div>
</section>

<section class="sidebar__card" data-accordions data-accordions-mobile-only>
  <button type="button" aria-expanded="true" aria-controls="helpful-downloads-region" id="helpful-downloads-button">
    <h2>Helpful Downloads</h2>
  </button>
  <div id="helpful-downloads-region" role="region" aria-labelledby="helpful-downloads-button" aria-hidden="false">
    <ul>
      <li><a href=""><svg class="icon icon--small"><use href="#file-pdf"></use></svg>Registering for Connect</a></li>
      <li><a href=""><svg class="icon icon--small"><use href="#file-pdf"></use></svg>Downloading the App</a></li>
      <li><a href=""><svg class="icon icon--small"><use href="#file-pdf"></use></svg>Using the App</a></li>
      <li><a href=""><svg class="icon icon--small"><use href="#file-pdf"></use></svg>Reset Your Password</a></li>
      <li><a href=""><svg class="icon icon--small"><use href="#file-pdf"></use></svg>Notification Troubleshooting</a></li>
      <li><a href=""><svg class="icon icon--small"><use href="#file-pdf"></use></svg>Adding Additional Accounts</a></li>
      <li><a href=""><svg class="icon icon--small"><use href="#file-pdf"></use></svg>Parent/Teacher Meetings</a></li>
      <li><a href=""><svg class="icon icon--small"><use href="#file-pdf"></use></svg>Using Permissions</a></li>
      <li><a href=""><svg class="icon icon--small"><use href="#file-pdf"></use></svg>Homework</a></li>
    </ul>
  </div>
</section>

<section class="sidebar__cta">
  <svg class="icon icon--large" aria-hidden="true">
    <use href="#cloud-question-mark-duotone"></use>
  </svg>
  <h2>Have a Question?</h2>
  <p>If you haven't found the answer you're looking for, please get in touch via the email below.</p>
  <span class="sidebar__cta-divider" aria-hidden="true"></span>
  <a href="mailto:parent@aladdin.ie">parent@aladdin.ie</a>
</section>

