.question-cta {
  background: var(--color-connect-gradient-two-tone);
  color: var(--color-font-secondary);
  padding: 2rem 1.5rem;
  border-radius: var(--border-radius-card);
  text-align: center;
}

.question-cta .icon {
  fill: var(--color-font-secondary);
}

.question-cta__icon {
  margin-bottom: 1rem;
}

.question-cta__divider {
  border-top: 1px solid;
  margin-block: 1rem 2rem;
}

.question-cta__email {
  text-align: left;
}

.question-cta__link {
  color: var(--color-font-secondary);
}

.question-cta__description {
  font-size: var(--font-size-xsmall);
  padding-inline: 1rem;
}