input[type="text"] {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-card);
  border: 2px solid transparent;
  background-color: var(--color-blue-muted);
  margin-inline: 1rem .5rem;
}

input[type="text"]:focus {
  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
}

button[type="submit"] {
  min-width: 80px;
}

