.icon {
  display: inline-block;
  fill: var(--color-font-primary);
  vertical-align: middle;
  flex-shrink: 0;
}

.icon--small {
  width: 1.25rem;
  height: 1.25rem;
}

.icon--medium {
  width: 2rem;
  height: 2rem;
}

.icon--large {
  width: 2.5rem;
  height: 2.5rem;
}

.icon--xlarge {
  width: 3.5rem;
  height: 3.5rem;
}

.icon--chevron-down {
  transition: var(--transition-all-normal);
}