/* Foundations */
@import 'foundations/normalize.css';
@import 'foundations/accessibility.css';
@import 'foundations/colors.css';
@import 'foundations/typography.css';
@import 'foundations/buttons.css';
@import 'foundations/forms.css';
@import 'foundations/tokens.css';
@import 'foundations/icons.css';

/* Layout */
@import 'layout/base.css';
@import 'layout/utilities.css';

/* Shared */
@import 'shared/accordion.css';
@import 'shared/tabs.css';
@import 'shared/card.css';
@import 'shared/shapes.css';
@import 'shared/image-gallery.css';
@import 'shared/reveal.css';

/* Shared Hero */
@import 'shared/hero/hero.css';
@import 'shared/hero/hero-title-shimmer.css';

/* Shared Header and Footer */
@import 'shared/base/header.css';
@import 'shared/base/footer.css';
@import 'shared/base/submenus.css';
@import 'shared/base/hamburger.css';
@import 'shared/base/mobile-menu.css';

/* Shared Headings */
@import 'shared/headings/underlined.css';
@import 'shared/headings/tagline.css';



 
