:root {
  /* Base Colors */
  --color-pink: #E40085;
  --color-red: #ED2124;
  --color-orange: #F68E21;
  --color-yellow: #FDBD2C;
  --color-green: #00AD8E;
  --color-blue: #007DB3;
  --color-blue-light: #00A1E4;
  --color-blue-dark: #2A6B98;
  --color-blue-deep: #3C5D99;

  /* Typography Colors */
  --color-font-primary: #555;
  --color-font-secondary: #FFF;
  --color-font-link: var(--color-blue-dark);
  --color-font-muted: #AFAFAF;

  /* Background Colors */
  --color-background-primary: #CBCBCD59;
  --color-background-secondary: #FFF;
  --color-background-tertiary: #c8c8c9;
  
  /* Utility Colors */
  --color-overlay: rgba(0, 0, 0, 0.35);
  --color-icon-background: #2A6B9840;

  /* Accent Colors */
  --color-accent: var(--color-blue);
  --color-accent-dark: #007DB38C;
  --color-accent-light: var(--color-blue-light);

  /* Gradients */
  --color-gradient-pink-red: linear-gradient(90deg, var(--color-pink) 0%, var(--color-red) 100%);
  --color-gradient-lightblue-pink: linear-gradient(93.69deg, var(--color-blue-light) -6.48%, var(--color-pink) 100%);
  --color-gradient-darkblue-pink: linear-gradient(93.69deg, var(--color-blue-dark) -6.48%, var(--color-pink) 100%);
  --color-gradient-lightblue-green: linear-gradient(114.37deg, var(--color-blue-light)  4.99%, var(--color-green) 86.38%);
  --color-gradient-darkblue-green: linear-gradient(93.69deg, var(--color-blue-dark) -6.48%, var(--color-green) 100%);
  --color-gradient-orange-yellow: linear-gradient(94.67deg, var(--color-orange) -2.58%, var(--color-yellow) 100%);
  --color-gradient-yellow-red: linear-gradient(92.62deg, var(--color-yellow) 0.81%, var(--color-red) 98.93%);
  --color-gradient-orange-red: linear-gradient(93.69deg, var(--color-orange) -6.48%, var(--color-red) 100%);

  /* Product: Start */
  --color-start: var(--color-accent);
  --color-start-light: #CCF0FF;
  --color-start-gradient-two-tone: linear-gradient(278.46deg, var(--color-start) 9.27%, var(--color-accent-light) 86.45%);
  --color-start-gradient-four-tone: linear-gradient(288.19deg, var(--color-blue-light) 6.84%, var(--color-start) 44.19%, #1E6DA6 44.19%, var(--color-blue-deep) 56.63%);

  /* Product: Connect */
  --color-connect: var(--color-pink);
  --color-connect-light: #FFBCE0;
  --color-connect-gradient-two-tone: var(--color-gradient-pink-red);
  --color-connect-gradient-four-tone: linear-gradient(235.42deg, var(--color-connect) 12.64%, #ED265C 47.09%, #ED2440 47.09%, var(--color-red) 58.58%);

  /* Product: Frame */
  --color-frame: var(--color-orange);
  --color-frame-light: var(--color-yellow);
  --color-frame-gradient-two-tone: linear-gradient(278.46deg, var(--color-orange) 9.27%, var(--color-yellow) 86.45%);
  --color-frame-gradient-four-tone: linear-gradient(293.54deg, var(--color-yellow) 12.63%, var(--color-orange) 40.64%, #F97F00 40.64%, #EF6F14 49.98%);

  /* Add-on: ePayments */
  --color-epayments: var(--color-green);
  --color-epayments-gradient-two-tone: var(--color-gradient-darkblue-green);

  /* Add-on: Library */
  --color-library: var(--color-red);
  --color-library-gradient-two-tone: var(--color-gradient-orange-red);

  /* Add-on: Staff Absences */
  --color-staff-absences: var(--color-blue-deep);
  --color-staff-absences-gradient-two-tone: var(--color-gradient-darkblue-pink);

  /* All Products/Packages */
  --color-packages: #CBCCCD;
  --color-packages-gradient-two-tone: linear-gradient(93.69deg, #FFF -6.48%, var(--color-packages) 100%);
}