:root {
  --container-width: 1080px;
  --container-padding: 2rem;
}

/* Breakpoints
  desktop-up (min-width: 1024px);
  tablet-up (min-width: 768px);
  mobile-tablet-only (max-width: 1024px);
  mobile-only (max-width: 768px); 
*/