.form {
  gap: 0.5rem;

  input[type="text"] {
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius-card);
    border: 2px solid transparent;
    background-color: var(--color-blue-muted);
    width: 200px;
    max-width: 100%;
  }

  input[type="text"]:focus {
    outline: 2px solid var(--color-accent);
    outline-offset: 2px;
  }

  button[type="submit"] {
    min-width: 80px;
  }
}

.form__input-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (width < 768px) {
  .form {
    flex-direction: column;
    gap: 1rem;
  }
}

