body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  background: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

address {
  font-style: normal;
}

form {
  margin: 0;
}

input[type="text"] {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  color: inherit;
  outline: none;
}