<section class="join">
  <div class="join__top-wrapper u-container">
    <div class="join__left">
      {% include "ui/components/shared/headings/tagline.html" with 
        title="Join Aladdin" 
        tagline="A passionate, people-first team supporting Irish primary schools."
        description="At Aladdin, everything we do is built around helping schools run smoothly and helping people thrive, and that includes our team. Whether you're building new tools, supporting customers, or shaping how schools communicate, your work here will have real impact. We're proud to be 100% Irish-owned, and even prouder of the talented, kind, and collaborative team behind it all." %}
    </div>
    <div class="join__right">
      <img src=""/>
    </div>
  </div>
  <div class="join__bottom-wrapper u-container">
    {% include "ui/components/shared/headings/underlined.html" with 
      title="What We Value" 
      description="Our STAR values shape how we collaborate, how we support schools, and how we treat each other as teammates. These are the qualities we look for, nurture, and celebrate at Aladdin." %}
    <div class="star">

    </div>
  </div>
</section>