.add-ons { 
  .card--epayments .card__title {
    color: var(--color-epayments);
  }

  .card--library .card__title {
    color: var(--color-library);
  }

  .card--staff-absences .card__title {
    color: var(--color-staff-absences);
  }
}