{% extends "ui/base.html" %}
{% load static %}
{% block title %}Aladdin Schools | The software supporting great schools{% endblock %}
{% block pageStyles %}
  <link rel="stylesheet" href="{% static 'ui/css/pages/home/styles.css' %}">
{% endblock %}

{% block content %}
  {% include "ui/components/home/hero.html" %}
  {% include "ui/components/home/about.html" %}
  {% include "ui/components/home/packages.html" %}
  {% include "ui/components/home/add-ons.html" %}
  {% include "ui/components/home/inbox.html" %}
  {% include "ui/components/home/faqs.html" %}
  {% include "ui/components/home/contact.html" %}
{% endblock %}

