html { 
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: calc(var(--header-height) + 3rem);
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

body {
  background-color: var(--color-background-primary);
}

.shapes__oblong {
  position: absolute;
  width: 107px; 
  height: 532px;
  opacity: 0.5;
}

@media (width <= 1024px) {
  .shapes__oblong {
    width: 65px;
    height: 320px;
  }
}

.back-to-top {
  position: fixed;
  z-index: 97;
  bottom: 3rem;
  right: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: var(--border-radius-circle);
  border: solid var(--color-background-tertiary) 5px;
  background: rgb(133 169 174 / 10%)
}

.back-to-top .icon {
  fill: var(--color-background-tertiary);
  transition: transform var(--transition-duration-normal) var(--transition-timing-ease);
}

.back-to-top--up .icon {
  transform: rotate(180deg);
}

.svg-sprite {
  position: absolute; 
  width: 0; 
  height: 0; 
  overflow: hidden; 
}

.icon {
  display: inline-block;
  fill: var(--color-font-primary);
  vertical-align: middle;
}

.icon--small {
  width: 1.25rem;
  height: 1.25rem;
}

.icon--medium {
  width: 2rem;
  height: 2rem;
}

.icon--large {
  width: 2.5rem;
  height: 2.5rem;
}