html { 
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--header-height) + 3rem);
}

/* Mobile: use mobile header height */
@media (width < 1024px) {
  html {
    scroll-padding-top: calc(var(--header-height-mobile) + 2rem);
  }
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

body {
  background-color: var(--color-background-primary);
}

.back-to-top {
  position: fixed;
  z-index: 97;
  bottom: 3rem;
  right: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: var(--border-radius-circle);
  border: solid var(--color-background-tertiary) 5px;
}

.back-to-top .icon {
  fill: var(--color-background-tertiary);
  transition: transform var(--transition-duration-normal) var(--transition-timing-ease);
}

.back-to-top--up .icon {
  transform: rotate(180deg);
}

.svg-sprite {
  position: absolute; 
  width: 0; 
  height: 0; 
  overflow: hidden; 
}

.icon {
  display: inline-block;
  fill: var(--color-font-primary);
  vertical-align: middle;
  flex-shrink: 0;
}

.icon--small {
  width: 1.25rem;
  height: 1.25rem;
}

.icon--medium {
  width: 2rem;
  height: 2rem;
}

.icon--large {
  width: 2.5rem;
  height: 2.5rem;
}

.icon--xlarge {
  width: 3.5rem;
  height: 3.5rem;
}