{% extends "website/base.html" %}
{% load static %}
{% block title %}Join our team | Aladdin Schools{% endblock %}
{% block metaDescription %}Join the Aladdin Schools team and help support Irish primary schools. View open positions and learn about life at Aladdin.{% endblock %}
{% block pageStyles %}
  <link rel="stylesheet" href="{% static 'website/css/pages/careers/styles.css' %}">
{% endblock %}

{% block content %}
  {% include "website/components/careers/hero.html" %}
  {% include "website/components/careers/join.html" %}
  {% include "website/components/careers/open-positions.html" %}
  {% include "website/components/careers/life.html" %}
{% endblock %}

{% block pageScripts %} 
  <script src="https://aladdinschools.bamboohr.com/js/embed.js" type="text/javascript" async defer></script>
{% endblock%}  


