{% extends "website/base.html" %}
{% load static %}
{% block title %}Get Started | Aladdin Schools{% endblock %}
{% block metaDescription %}Start your journey with Aladdin Schools by entering your setup code.{% endblock %}
{% block pageStyles %}
  {# If extra styles needed, include in a stylesheet linked here #}
{% endblock %}

{% block content %}
  {% include "website/components/shared/hero.html" with theme="green-blue" title="Get Started" %}
  {% include "website/components/ordernow/content.html" %}
{% endblock %}


