{% extends "website/base.html" %}
{% load static %}
{% block title %}Information for parents & guardians | Aladdin Schools{% endblock %}
{% block metaDescription %}Learn how Aladdin Connect helps parents and guardians stay connected with their child's school. Get information about the app, registration, and features.{% endblock %}
{% block pageStyles %}
  <link rel="stylesheet" href="{% static 'website/css/pages/parents/styles.css' %}">
{% endblock %}

{% block content %}
  {% include "website/components/parents/hero.html" %}
  {% include "website/components/parents/tabs.html" %}
{% endblock %}


