.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 2;
  font-size: var(--font-size-small);
}

.sidebar__card {
  background: var(--color-background-secondary);
  box-shadow: var(--box-shadow-card);
  border-radius: var(--border-radius-card);
}

.sidebar__card-heading {
  color: var(--color-accent);
  padding: 1rem;
}

.siderbar__card-divider {
  border-top: var(--divider);
  margin-bottom: .5rem;
  width: 100%;
}

.sidebar__card-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar__card-button .sidebar__card-heading {
  padding: 0;
}

.sidebar__card-content {
  padding-inline: 1rem;
}

.sidebar__card-content.tabs__list {
  padding-bottom: 1rem;
}

.sidebar__card-list-item {
  border-top: var(--divider);
  padding-block: .5rem;
  padding-inline: .25rem;
}

.sidebar__card-list-item a {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.sidebar__card-list-item:last-child {
  padding-bottom: 1rem;
}